@page
@model planApp.Pages.Classrooms.DeleteModel

@{
    ViewData["Title"] = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć tę salę?</h3>
<div>
    <hr />
    <h4>Sale</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classroom.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Classroom.Number)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Classroom.ID" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-page="./Index">Wróć</a>
    </form>
</div>
