@page
@model planApp.Pages.Classes.DeleteModel

@{
    ViewData["Title"] = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć tę klasę?</h3>
<div>
    <hr />
    <h4>Klasa</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class.Letter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Letter)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Class.ID" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-page="./Index">Wróć</a>
    </form>
</div>
