@page
@model planApp.Pages.LessonRequirements.EditModel

@{
    ViewData["Title"] = "Edytuj";
}

<h2>Edytuj</h2>

<hr />
<h4>Wymaganie</h4>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LessonRequirement.ID" />
            <div class="form-group">
                <label asp-for="LessonRequirement.Hours" class="control-label"></label>
                <input asp-for="LessonRequirement.Hours" class="form-control" />
                <span asp-validation-for="LessonRequirement.Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
