@page
@model planApp.Pages.Subjects.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <h4>Przedmiot</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Subject.ID">Edytuj</a> |
    <a asp-page="./Index">Wróć</a>
</div>
